<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if titre %}
    <title>{{ titre  }}</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
    <header>
        <div class="headerImage">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </header>
    {% block content%}

    {% endblock content%}
    
    <footer class="footerText">
        <p> Created by me |  today : {{ today }}</p>
    </footer>
</body>
</html>
